@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Horizontal
@using ChartJs.Blazor;
@using System.Globalization
@using EmpiriaBMS.Core.Services

@inject IDataProvider _dataProvider
@inject SharedAuthDataService _sharedAuthData
@inject IMapper _mapper
@inject Logging.LoggerManager Logger
@inject Culture Culture

<div title="Estimated Invoicing" data-bs-toggle="tooltip">
    <h4><strong>(EI): </strong> <span>@Culture.GetNumberFromated(_estimatedInvoicing)</span></h4>
</div>