@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Horizontal
@using ChartJs.Blazor;
@using System.Globalization
@using EmpiriaBMS.Core.Services

@inject IDataProvider _dataProvider
@inject SharedAuthDataService _sharedAuthData
@inject IMapper _mapper
@inject Logging.LoggerManager Logger
@inject Culture Culture
@inject MicrosoftTeams MicrosoftTeams

@if (_startLoading)
{
    <FluentProgressRing Style="margin: 0 auto;" />
}
else
{
    <div title="Next Year Net Income" data-bs-toggle="tooltip">
        <h4><strong>(NYNI): </strong> <span>@Culture.GetNumberFromated(_nextYearNetIncome)</span></h4>
    </div>
}
