@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Horizontal
@using ChartJs.Blazor;
@using System.Globalization
@using EmpiriaBMS.Core.Services

@inject IDataProvider _dataProvider
@inject SharedAuthDataService _sharedAuthData
@inject IMapper _mapper
@inject Logging.LoggerManager Logger
@inject MicrosoftTeams MicrosoftTeams

@if (_startLoading)
{
    <FluentProgressRing Style="margin: 0 auto;" />
}
else
{
    <div class="row">
        <div class="col-6" title="Paid Invoices Count" data-bs-toggle="tooltip" style="min-width: 152px;">
            <h4><strong>(PAID/I): </strong><span>@paid  </span></h4>
        </div>
        <div class="col-6" title="Unpaid Invoices Count" data-bs-toggle="tooltip" style="min-width: 152px;">
            <h4><strong>(UNP/I): </strong><span>@unpaid  </span></h4>
        </div>
    </div>
}
