<div class="tooltip-wrapper">
    @ChildContent
    <span>@Text</span>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Text { get; set; }
}