@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Horizontal
@using ChartJs.Blazor
@using EmpiriaBMS.Front.Components.KPIS
@using FluentUI = Microsoft.Fast.Components.FluentUI
@using EmpiriaBMS.Front.Components.KPIS.Simple
@using Microsoft.AspNetCore.Components
@using BlazorGridStack
@using BlazorGridStack.Models

@inject IDataProvider _dataProvider
@inject SharedAuthDataService _sharedAuthData
@inject IMapper _mapper
@inject Logging.LoggerManager Logger
@inject MicrosoftTeams MicrosoftTeams



<div>
    <h4>KPIS</h4>
</div>

<BlazorGridStackBody @ref="Grid">
    @if (kpiCompoments != null && kpiCompoments.Count > 0)
    {
        @foreach (var component in kpiCompoments)
        {
            <BlazorGridStackWidget WidgetOptions="@(new BlazorGridStackWidgetOptions
            {
                X = component.Position.X,
                Y = component.Position.Y,
                W = component.Position.W,
                H = component.Position.H
            })">
                <DynamicComponent Type="@component.ComponentType" Parameters="@component.Parameters" />
            </BlazorGridStackWidget>
        }
    }
</BlazorGridStackBody>
