@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Horizontal
@using ChartJs.Blazor
@using EmpiriaBMS.Front.Components.KPIS
@using FluentUI = Microsoft.Fast.Components.FluentUI
@using EmpiriaBMS.Front.Components.KPIS.Simple
@using Microsoft.AspNetCore.Components
@using BlazorGridStack
@using BlazorGridStack.Models

@inject IDataProvider _dataProvider
@inject SharedAuthDataService _sharedAuthData
@inject IMapper _mapper
@inject Logging.LoggerManager Logger
@inject MicrosoftTeams MicrosoftTeams



<div class="p-3 rounded-3"
     style="background-color: #bfc1d7; color: var(--kpi-text-color);">
    <h3>Key Performance Indicators (KPIS)</h3>
</div>

<div class="mt-3 mb-5">
    <BlazorGridStackBody @ref="Grid">
        @if (kpiCompoments != null && kpiCompoments.Count > 0)
        {
            @foreach (var component in kpiCompoments)
            {
                @* Y = component.Position.Y, *@
                <BlazorGridStackWidget  
                    WidgetOptions="@(new BlazorGridStackWidgetOptions
                    {
                        X = component.Position.X,
                        W = component.Position.W,
                        H = component.Position.H,
                    })">

                    <div class="p-3 rounded-3" style="background-color: #bfc1d7; height: 100%; width: 100%;">
                        <DynamicComponent Type="@component.ComponentType" Parameters="@component.Parameters" />
                    </div>

                </BlazorGridStackWidget>
            }
        }
    </BlazorGridStackBody>
</div>

