bin/
obj/
EmpiriaBMS.Core/bin
EmpiriaBMS.Core/obj
EmpiriaBMS.EF.CLI/bin
EmpiriaBMS.EF.CLI/obj
EmpiriaBMS.Front/bin
EmpiriaBMS.Front/obj
EmpiriaBMS.Models/bin
EmpiriaBMS.Models/obj
EmpiriaBMS.Logging/bin
EmpiriaBMS.Logging/obj

EmpiriaBMS.Core/bin/
EmpiriaBMS.Core/obj/
EmpiriaBMS.EF.CLI/bin/
EmpiriaBMS.EF.CLI/obj/
EmpiriaBMS.Front/bin/
EmpiriaBMS.Front/obj/
EmpiriaBMS.Models/bin/
EmpiriaBMS.Models/obj/
EmpiriaBMS.Logging/bin/
EmpiriaBMS.Logging/obj/

# TeamsFx files
build
appPackage/build
env/.env.*.user
env/.env.local
appsettings.Development.json
.deployment

# User-specific files
*.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Notification local store
.notification.localstore.json


bin/
obj/

EmpiriaBMS.Core/bin/
EmpiriaBMS.Core/obj/

EmpiriaBMS.EF.CLI/bin/
EmpiriaBMS.EF.CLI/obj/
EmpiriaBMS.EF.CLI/Migrations/

EmpiriaBMS.Front/bin/
EmpiriaBMS.Front/obj/

EmpiriaBMS.Models/bin/
EmpiriaBMS.Models/obj/

.vs
.github/