@import "functions";
@import "variables";

:root {
    --warning: #ffcc00;
    --main-bg-color: #f5f5f5;
    --selected-table-row-bg-color: rgba(68,71,145, 0.5);
    --selected-table-row-color: rgba(255,255,255, 1);
    --hover-row-bg-color: rgb(251, 252, 252);
    --primary-accent-color: #5A5C91;
    --primary-bg-color: rgba(68,71,145, 0.3);
    --primary-bg-solid-color: rgb(191,193,215);
    --primary-hover-bg-color: rgba(68,71,145, 0.5);
    --admin-nav-bar-color: rgba(245, 245, 245, 1);
    --admin-nav-bar-hover-color: rgba(245, 245, 245, 0.5);
    /*    --dashboard-tables-header-color: rgba(181,124,124, 0.7);*/
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: var(--primary-bg-color) !important;
    border: solid 1px var(--primary-bg-color) !important;
}
.btn-primary:hover {
    background-color: var(--primary-hover-bg-color) !important;
    border: solid 1px var(--primary-hover-bg-color) !important;
}