@import "functions";
@import "variables";

:root {
    --main-bg-color: #f5f5f5;
    --selected_1-row-bg-color: rgba(209, 231, 221, 0.5);
    --selected_2-row-bg-color: rgba(248,215,218, 0.5);
    --selected_3-row-bg-color: rgba(207, 226, 255, 0.5);
    --selected_4-row-bg-color: rgba(255,243,205, 0.5);
    --hover-row-bg-color: rgb(251, 252, 252);
    --primary-accent-color: #5A5C91;
    --primary-bg-color: rgb(68,71,145, 0.3);
    --primary-hover-bg-color: rgb(68,71,145, 0.5);
}


.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: var(--primary-bg-color) !important;
    border: solid 1px var(--primary-bg-color) !important;
}
.btn-primary:hover {
    background-color: var(--primary-hover-bg-color) !important;
    border: solid 1px var(--primary-hover-bg-color) !important;
}