@import "colors.css"
* {
    box-sizing: border-box;
    /* outline: 1px dashed #f00; */
}

html, body {
    margin: 0;
    /*width: 100vw;*/
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-bg-color) !important;
}

.my-tooltip:hover {
    cursor: help;
}

canvas {
    width: 100%;
    height: 100%;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

pre,
div.error {
    background-color: #e5e5e5;
    padding: 1rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 1rem 0;
    max-height: 250px;
}

pre.fixed,
div.error.fixed {
    height: 200px;
}

code {
    background-color: #e5e5e5;
    display: inline-block;
    padding: 0px 6px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.nav-item:hover, li {
    cursor: pointer !important;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
/* | Scrollbar */



/* Accordion */
/*#shadow-root {
    background: red;
}*/
fluent-accordion-item {
    background: var(--primary-bg-color) !important;
}
/* Accordion */


.nav-link-text {
    color: var(--admin-nav-bar-color);
}
.nav-link-text:hover {
    color: var(--admin-nav-bar-hover-color);
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-top: -4px !important;
}

.table-container {
    min-height: 11vh;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
}





/* Selected Table Row */
.selected_table_projects_row {
    background-color: rgba(209,231,221,0.7) !important;
}
.selected_table_disciplines_row {
    background-color: rgba(248,215,218,0.7) !important;
}
.selected_table_deliverables_row {
    background-color: rgba(207,226,255,0.7) !important;
}
.selected_table_supportiveworks_row {
    background-color: rgba(255,243,205, 0.7) !important;
}

.selected_table_row {
    background-color: var(--selected-table-row-bg-color) !important;
    color: var(--selected-table-row-color) !important;
}
.selected_table_row > .default-color.btn-outline-info {
    color: white !important;
    border-color: white !important;
}
.selected_table_row > .majesticons--chat-2-text { /* Coplain */
    display: inline-block;
    width: 2.0em;
    height: 2.0em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M1 11c0-5.167 5.145-9 11-9s11 3.833 11 9s-5.145 9-11 9c-1.198 0-2.354-.156-3.437-.447c-.785.662-1.59 1.244-2.54 1.672C4.894 21.735 3.617 22 2 22a1 1 0 0 1-.707-1.707c.876-.876 1.843-1.914 2.368-3.416C2.029 15.327 1 13.28 1 11m7-5a1 1 0 0 0 0 2h8a1 1 0 1 0 0-2zm0 4a1 1 0 1 0 0 2h8a1 1 0 1 0 0-2zm0 4a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: white;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.selected_table_row > .clarity--assign-user-line { /* Assign Icon */
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000' d='M18 17a7.46 7.46 0 1 0-7.45-7.46A7.46 7.46 0 0 0 18 17m0-12.93a5.46 5.46 0 1 1-5.45 5.45A5.46 5.46 0 0 1 18 4.07' class='clr-i-outline clr-i-outline-path-1'/%3E%3Cpath fill='%23000' d='M6 31.89v-6.12a16.13 16.13 0 0 1 12-5a16.61 16.61 0 0 1 8.71 2.33l1.35-1.51A18.53 18.53 0 0 0 18 18.74A17.7 17.7 0 0 0 4.21 24.8a1 1 0 0 0-.21.6v6.49A2.06 2.06 0 0 0 6 34h12.39l-1.9-2Z' class='clr-i-outline clr-i-outline-path-2'/%3E%3Cpath fill='%23000' d='M30 31.89V32h-3.15l-1.8 2H30a2.06 2.06 0 0 0 2-2.07V26.2l-2 2.23Z' class='clr-i-outline clr-i-outline-path-3'/%3E%3Cpath fill='%23000' d='M34.76 18.62a1 1 0 0 0-1.41.08l-11.62 13l-5.2-5.59a1 1 0 0 0-1.41-.11a1 1 0 0 0-.06 1.42l6.69 7.2L34.84 20a1 1 0 0 0-.08-1.38' class='clr-i-outline clr-i-outline-path-4'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
    background-color: white;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
/* Selected Table Row */





/* Table Header */
/*thead th {
background: var(--dashboard-tables-header-color) !important;
}
*/
.default-background {
    background-color: var(--main-bg-color) !important;
}

.primary-bg-color {
    background-color: var(--primary-bg-color) !important;
}



/* CheckBox */
.big-checkbox {
    width: 24px !important;
    height: 24px !important;
    accent-color: var(--primary-accent-color) !important;
    border-radius: 4px !important;
}

/* CheckBox */


/* Button */
.default-color.btn-outline-info {
    color: var(--primary-accent-color) !important;
    border-color: var(--primary-accent-color) !important;
}
.default-color.btn-outline-info:hover {
    background-color: var(--primary-hover-bg-color) !important;
}
/* Button */



/* FluentTab */
.my-fluent-tab {
    
}
.my-fluent-tab-label, .my-fluent-tab-label {
    font-size: medium !important;
    font-weight: bolder !important;
    text-decoration: var(--main-bg-color) wavy underline !important;
    min-width: 200px;
    border: 1px solid gray;
    border-radius: 11px;
    margin: 4px;
    padding: 4px;
    text-align: center !important;
}
.my-fluent-tab-label[aria-selected="true"] {
    font-size: medium !important;
    font-weight: bolder !important;
    text-decoration: none !important;
    min-width: 200px;
    border: 1px solid var(--primary-bg-color);
    background-color: var(--primary-bg-color);
    border-radius: 11px;
    margin: 4px;
    padding: 4px;
    text-align: center !important;
}
::deep fluent-tabs::part(activeIndicator) {
    width: 85%;
}
/* FluentTab */


/* Fluent Nav Item */
.fluent-nav-item {
}

.active-nav-link {
/*    font-size: medium !important;
    font-weight: bolder !important;
    text-decoration: none !important;*/
    border: 1px solid var(--primary-bg-solid-color);
    background-color: var(--primary-bg-solid-color);
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
    /*text-align: center !important;*/
    z-index: 1 !important;
    min-width: 200px !important;
    max-width: 280px !important;
}

.active-nav-link > .positioning-region,
.active-nav-link > .positioning-region > .content-region,
.active-nav-link > .positioning-region > .content-region > .fluent-nav-link,
.active-nav-link > * {
/*    margin: 0px !important;
    padding: 0px !important;*/
    background-color: var(--primary-bg-solid-color) !important;
/*    z-index: 0 !important;
    text-align: right !important;*/
}
.positioning-region {
    background-color: var(--main-bg-color) !important;
}
/* Fluent Nav Item */



/* Lists */

.drag-drop-list {
    border: 1px solid gray;
    border-radius: 4px;
    margin: 4px;
    height: 200px;
    overflow-y: auto;
}

/* Lists */