@implements IDialogContentComponent<UserVM>

    @inject Logging.LoggerManager Logger

@* Body *@
<FluentDialogBody>

    <EmpiriaBMS.Front.Components.Admin.Users.UserDetailed @ref="@_uersDetailedComp"
                                                          Content="@Content"
                                                          DisplayActions="false"/>

</FluentDialogBody>

<FluentDialogFooter>
    <div class="d-flex justify-content-between">
        <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
        <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync">Save</FluentButton>
    </div>
</FluentDialogFooter>
