@page "/reports"
@using System.Threading.Tasks
@using ChartJs.Blazor;

@if (_barChartConfig != null)
{
    <div class="row">

        <!-- Chart -->
        <div class="col-12 container">
            <Chart Config="@_barChartConfig"/>
        </div>

        <!-- Table -->
        <div class="col-12 mt-5 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Date</th>
                        <th>Hours</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entry in reportEntries)
                    {
                        <tr>
                            <td>@entry.ProjectName</td>
                            <td>@entry.Date.ToString("yyyy-MM-dd")</td>
                            <td>@entry.Hours</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
}
else
{
    <span class="text-warning ms-5">No Data!</span>
}