@layout AdminLayout
@page "/admin/projects"

@using EmpiriaBMS.Front.Services
@inject PreviousLocationService previusLocationService

<h3>Projects</h3>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            var pevLocation = previusLocationService.GetPreviousLocation();
            if (pevLocation?.GetType() == typeof(Projects)) return;
            previusLocationService.UpdatePreviousLocation(this);
        }
    }

}
