@page "/admin/projectstypes"
@layout AdminLayout

@using EmpiriaBMS.Front.Services
@inject PreviousLocationService previusLocationService

<h3>ProjectsTypes</h3>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            var pevLocation = previusLocationService.GetPreviousLocation();
            if (pevLocation?.GetType() == typeof(ProjectsTypes)) return;
            previusLocationService.UpdatePreviousLocation(this);
        }
    }

}
