@using EmpiriaMS.Models.Models
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using Microsoft.Fast.Components.FluentUI
@using EmpiriaBMS.Core
@using System.Diagnostics
@using EmpiriaBMS.Front.ViewModels
@using AutoMapper

@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams
@inject IWebHostEnvironment HostEnvironment
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager
@inject IDataProvider DataProvider
@inject IMapper Mapper


@if (isLoading)
{
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
        <FluentProgressRing />
    </div>
}
else
{
    if (error != null)
    {
        <p>@error</p>
    }
    else
    {

        <div class="card d-flex">
            <div class="card-body">
                <h5 class="card-title">Add User</h5>

                
                <div class="d-flex p-2">                

                    <!-- Selected Roles -->
                    <div class="form-floating ms-4">
                        <FluentLabel class="mb-3"><h6>Select Roles</h6></FluentLabel>
                        <ul class="list-group"
                            id="selectrolesselection">
                            @foreach (var role in roles)
                            {
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               @bind=role.IsChecked>
                                        <label class="form-check-label" for="flexCheckChecked">
                                            @role.Name
                                        </label>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>

                </div>
           
            </div>
        </div>

       
    }
}



@code {
    string error = null;
    bool isLoading = true;
    bool runInTeams = false;
    List<RoleDto> roles;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            runInTeams = await MicrosoftTeams.IsInTeams();
            if (runInTeams)
            {

            }

            try
            {
                roles = (await DataProvider.Roles.GetAll())
                        .Select(r => Mapper.Map<RoleDto>(r)).ToList();
            }
            catch (Exception ex)
            {
                error = $"Get Roles Exception: {ex.Message}";
            }

            isLoading = false;
            
            // Update UI
            StateHasChanged();
        }

    }

}
