@inject IDataProvider _dataProvider
@inject Logging.LoggerManager Logger


<label>@(EstimatedCompleted.ToString("##0.0")) %</label>


@code {

    [Parameter]
    public int Id { get; set; }

    public float EstimatedCompleted { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            EstimatedCompleted = await _dataProvider.Projects.GetEstimatedCompleted(Id);
            StateHasChanged();
        }
    }
}