@page "/loginpage"

@layout MainLayout

@using System.ComponentModel.DataAnnotations
@using EmpiriaBMS.Front.Services

@inject NavigationManager MyNavigationManager
@inject AuthorizeServices authorizeServices
@inject SharedAuthDataService _sharedAuthData

<div class="centered">

    <div>
        <h3>Login</h3> <h5> to Embiria BMS</h5>
        
    </div>

    <div>
        <FluentTextField Style="width: 100%" @bind-Value=@username TextFieldType="TextFieldType.Email">Username</FluentTextField>
        @if (!validUserName)
        {
            @if (string.IsNullOrEmpty(@username))
            {
                <div class="col-12">
                    <span class="text-warning">Field is required!</span>
                </div>
            }
            else if (!_isvalidUserName(@username))
            {
                <div class="col-12">
                    <span class="text-warning">No valid proxy address!</span>
                </div>
            }
        }
    </div>

    <FluentTextField Style="width: 100%" @bind-Value=@password TextFieldType="TextFieldType.Password">Password</FluentTextField>

    <div class="col-12">
        @if (errorMessage != null)
        {
            <p class="text-danger">@errorMessage</p>
        }
    </div>

    <FluentButton Style="margin-bottom: 4px; float: right; margin-top: 4px;" Type="ButtonType.Submit" OnClick="HandleSubmit">
        Login
    </FluentButton>

</div>