@page "/login"
@using System.ComponentModel.DataAnnotations
@inject NavigationManager MyNavigationManager

<h3>Login</h3>

<h6>Test</h6>

@if (errorMessage != null)
{
    <p class="text-danger">@errorMessage</p>
}

<form @onsubmit="HandleSubmit">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" @bind="username" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" @bind="password" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>