<div class="splash-screen">
    <div class="splash-content">
        <h1>Welcome to Embiria BMS</h1>
        <h3>Streamlining Your Business Operations</h3>
        <p style="font-size:smaller;">Loading...</p>
        @* <div class="spinner"></div> *@
    </div>
</div>