@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Core.Services

@inject IDataProvider DataProvider
@inject Culture Culture

@if (payedPayment != null)
{
    <span class="text-success">@Culture.GetNumberFromated((double)payedPayment)</span>
}
else
{
    <span>Loading...</span>
}

@code {
    [Parameter]
    public InvoiceVM Item { get; set; }

    private double? payedPayment;

    protected override async Task OnParametersSetAsync()
    {
        payedPayment = await _loadPayedPayment();
    }

    private async Task<double?> _loadPayedPayment()
    {
        return await DataProvider.Invoices.GetSumOfPayedFee(Item.Id);
    }
}