@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Core.Services

@inject IDataProvider DataProvider
@inject Culture Culture

@if (pendingPayment != null)
{
    <span class="text-danger">@Culture.GetNumberFromated((double)pendingPayment)</span>
}
else
{
    <span>Loading...</span>
}

@code {
    [Parameter]
    public InvoiceVM Item { get; set; }

    private double? pendingPayment;

    protected override async Task OnParametersSetAsync()
    {
        pendingPayment = await _loadPendingPayment();
    }

    private async Task<double?> _loadPendingPayment()
    {
        return await DataProvider.Invoices.GetSumOfPotencialFee(Item.Id);
    }
}
