@page "/admin/otherstypes"
@layout AdminLayout

@using EmpiriaBMS.Front.Services
@inject PreviousLocationService previusLocationService

<h3>OthersTypes</h3>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            var pevLocation = previusLocationService.GetPreviousLocation();
            if (pevLocation?.GetType() == typeof(OthersTypes)) return;
            previusLocationService.UpdatePreviousLocation(this);
        }
    }

}
