<!-- DailyTimeRequestsCorrection.razor -->
@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Models.Enum
@using EmpiriaBMS.Models.Models
@using Microsoft.AspNetCore.Components
@using EmpiriaBMS.Front.Components.Home.Header.Hours;

@inject IDataProvider _dataProvider
@inject IMapper Mapper
@inject SharedAuthDataService _sharedAuthData
@inject TimerService TimerService
@inject Logging.LoggerManager Logger

<style>
    /* Vertical scroll container for rows */
    .card-container {
        max-height: min(60vh, 500px); /* Adjust the height as needed */
        overflow-y: auto;
        padding: 10px;
    }

    /* Horizontal scroll for each row */
    .card-grid {
        overflow-x: auto;
        white-space: nowrap;
    }

    .card-row {
        display: flex;
        flex-direction: row;
        gap: 10px; /* Adjust the gap between cards as needed */
    }

    .card-col {
        flex: 0 0 auto;
        width: auto; /* Adjust the width of the cards as needed */
    }
</style>

<!-- Header -->
<div class="d-flex justify-content-between p-3 primary-bg-color rounded">
    <h3>Working time requests</h3>
    <div style="max-width: 340px;" class="d-flex justify-content-between">
        <h5>Requests Count: </h5>
        <span class="text-danger ms-2">@RequestCount</span>
    </div>
</div>

<div class="card-container mt-3">
    @foreach (var key in DailyRequests.Keys.OrderBy(k => k))
    {
        var requests = DailyRequests[key];
        <div class="mb-3">
            <h4>@GetDisplayName(key)</h4>
            <div class="card-grid">
                <div class="card-row">
                    @foreach (var request in requests)
                    {
                        <div class="card-col">
                            <DailyTimeRequestCard Request="request"
                                                  Type="@key"
                                                  OnEnd="@(async (r) => await _onEnd(r))" />
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
