<!-- DailyTimeRequestsCorrection.razor -->
@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Models.Enum
@using EmpiriaBMS.Models.Models
@using Microsoft.AspNetCore.Components
@using EmpiriaBMS.Front.Components.Home.Header.Hours;

@inject IDataProvider _dataProvider
@inject IMapper Mapper
@inject SharedAuthDataService _sharedAuthData
@inject TimerService TimerService
@inject Logging.LoggerManager Logger



<!-- Header -->
<div class="mt-2 d-flex justify-content-between p-3 primary-bg-color rounded">
    <h3>Working time requests</h3>
    <div style="max-width: 340px;" class="d-flex justify-content-between">
        <h5>Requests Count: </h5>
        <span class="text-danger ms-2 mt-1">@_hoursCorrectionCount</span>
    </div>
</div>

<div class="row g-3 mt-3" style="overflow-y: auto; height: 60vh;">
    @foreach (var key in _dailyTimeRequest.Keys.OrderBy(k => k))
    {
        var requests = _dailyTimeRequest[key];
                
        <h4>@GetDisplayName(key)</h4>
        @foreach (var request in requests)
        {
            <div class="col-3">
                <DailyTimeRequestCard Request="request"
                                      Type="@key"
                                      OnEnd="@(async (r) => await _onCardChanged(r))" />
            </div>
        }
    }
</div>
