.selections {
    max-width: 360px;
    max-height: 100px;
}

.select-wrapper {
    height: 50px;
    overflow-y: visible;
}

.select {
    width: 100%;
    min-height: 50px;
    max-height: 100px !important;
    border-radius: 25px;
    border-color: #555;
    padding: 10px;
}