@using EmpiriaBMS.Front.Services

@inject IDataProvider _dataProvider
@inject IMapper Mapper
@inject SharedAuthDataService _sharedAuthData
@inject TimerService TimerService
@inject Logging.LoggerManager Logger

<h3>DailyTimeRequestsCorrection</h3>

