
.sidebar {
    background-color: var(--main-bg-color) !important;
}

.nav-link {
    color: var(--primary-accent-color) !important;
}

.nav-link:hover {
    background-color: var(--primary-bg-color) !important;
}

.nav-link.active {
    background-color: var(--primary-bg-color) !important;
}