@using BlazorBootstrap;

@inherits LayoutComponentBase

@using EmpiriaBMS.Front.Services;
@inject AuthorizeServices authorizeServices;
@inject MicrosoftTeams MicrosoftTeams


<div class="container-fluid">

    <div class="bb-top-row px-4 d-flex justify-content-between">
        <div>
            <span class="fluent--navigation-16-filled"
                  @onclick="_toggleSidebar">
            </span>
        </div>
        <div>
            <span class="gis--profile-o"></span>
        </div>
    </div>

    <div class="row">
        <div class="@(_isSidebarOpen ? "col-3" : "col-0")"
             style="@(_isSidebarOpen ? "" : "display:none;")">
            <div class="sidebar">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 1</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 2</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 3</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="@(_isSidebarOpen ? "col-9" : "col-12")">
            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </div>
</div>


@code {
    private bool _runInTeams { get; set; } = false;
    private bool _isSidebarOpen { get; set; } = false;
    private bool _isMobile { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            _runInTeams = await MicrosoftTeams.IsInTeams();
            await IsMobile();
            _isSidebarOpen = !_isMobile;
            StateHasChanged();
        }
    }

    private void _toggleSidebar()
    {
        _isSidebarOpen = !_isSidebarOpen;
        StateHasChanged();
    }

    private async Task IsMobile()
    {
        var screenSize = await MicrosoftTeams.GetScreenSize();
        _isMobile = screenSize.Width <= 768;
    }

}
