@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Horizontal
@using ChartJs.Blazor;

@inject IDataProvider _dataProvider
@inject SharedAuthDataService _sharedAuthData
@inject IMapper _mapper

@if (_delayedProjectsBarConfig != null)
{
    <Chart Config="_delayedProjectsBarConfig"></Chart>
}
else
{
    <span class="text-warning ms-5">No Data!</span>
}