@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Horizontal
@using ChartJs.Blazor;

@inject IDataProvider _dataProvider
@inject SharedAuthDataService _sharedAuthData
@inject IMapper _mapper
@inject Logging.LoggerManager Logger

<div class="row">
    <div class="col-12 mt-3">
        @if (_hoursPerUserPieConfig != null)
        {
            <Chart Config="_hoursPerUserPieConfig"></Chart>
        }
        else
        {
            <!-- Loading -->
            <FluentOverlay @bind-Visible="@_startLoading"
                           Opacity="0.1"
                           BackgroundColor="#444791">
                <FluentProgressRing />
            </FluentOverlay>
        }
    </div>
</div>