@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Horizontal
@using ChartJs.Blazor;

@inject IDataProvider _dataProvider
@inject SharedAuthDataService _sharedAuthData
@inject IMapper _mapper
@inject Logging.LoggerManager Logger

@if (_data != null && _chartConfig != null)
{
    <Chart Config="_chartConfig"></Chart>
}
else
{
    @if (_startLoading)
    {
        <FluentProgressRing Style="margin: 0 auto;" />
    }
    else
    {
        <span class="text-warning">No Data</span>
    }
}