@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Horizontal
@using ChartJs.Blazor;

@inject IDataProvider _dataProvider
@inject SharedAuthDataService _sharedAuthData
@inject IMapper _mapper
@inject Logging.LoggerManager Logger

<div title="Projects missed deadline" data-bs-toggle="tooltip">
    <h4><strong>(PMD): </strong> <span>@_missedDeadLineProject.ToString("N2")%</span></h4>
</div>